In [43]:
import pandas as pd
import json
import numpy as np

In [44]:
df = pd.read_csv('./assessment_data.csv')

In [54]:
df = df.dropna(subset=['assessment_data'])
df.head()

,is_mandatory,id,progress_percentage,assessment_data,skill_offering_enrollment_id,skill_offering_enrollment__skill_offering_id,skill_offering__course_name,skill_offering__course_code,student_id,skill_offering_enrollment__skill_offering__knowledge_partner_id,skill_offering_enrollment__skill_offering__knowledge_partner__name,score_check
0,1,129592,53.634001,"[{'score': 62.5, 'serial': 1, 'attempt': 1, 'r...",694764,2220,Smart Energy Grid,NaN,1695005.0,91,Coursera,"[{'score': 62.5, 'serial': 1, 'attempt': 1, 'r..."
2,1,7360,83.555556,"[{'score': 96.6666666666667, 'serial': '1', 'a...",607646,2221,Full Stack,NaN,1473203.0,89,Infosys Springboard,"[{'score': 96.6666666666667, 'serial': '1', 'a..."
4,1,7213,73.000000,"[{'score': 80.0, 'serial': '1', 'attempt': 1, ...",607691,2224,Machine Learning,NaN,1444238.0,89,Infosys Springboard,"[{'score': 80.0, 'serial': '1', 'attempt': 1, ..."
14,1,62707,60.000000,"[{'score': 80.0, 'serial': '1', 'attempt': 1, ...",687192,2221,Full Stack,NaN,1572520.0,89,Infosys Springboard,"[{'score': 80.0, 'serial': '1', 'attempt': 1, ..."
16,1,76981,16.000000,"[{'score': '90', 'serial': 1, 'attempt': 1, 'c...",660632,2217,Cloud Essentials,16_CloudComputingProgram,1445884.0,59,Veranda Learning,"[{'score': '90', 'serial': 1, 'attempt': 1, 'c..."

In [63]:
def check_row(row):
    try:
        data = json.loads(str(row.loc['assessment_data']).replace("'", '"').replace("None", 'null'))
        progress_percentage = row.loc['progress_percentage']
        score_data = {}
        for record in data:
            if 'serial' in record and 'score' in record:
                if record['serial'] in score_data:
                    if score_data[record['serial']] < record['score']:
                        score_data[record['serial']] = record['score']
                    else:
                        score_data[record['serial']] = record['score']
        
        scores_list = score_data.values()
        if scores_list:
            if progress_percentage == sum(scores_list) / len(scores_list):
                return True

            
        return False
    except Exception as e:
        print(e, row)
        return str(e)

In [64]:
df.loc['score_check'] = df.apply(check_row, axis=1)

Expecting value: line 1 column 1 (char 0) is_mandatory                                                                                                NaN
id                                                                                                          NaN
progress_percentage                                                                                         NaN
assessment_data                                                                                             NaN
skill_offering_enrollment_id                                                                                NaN
skill_offering_enrollment__skill_offering_id                                                                NaN
skill_offering__course_name                                                                                 NaN
skill_offering__course_code                                                                                 NaN
student_id                                                                                                  NaN
skill_offering_enrollment__skill_offering__knowledge_partner_id                                             NaN
skill_offering_enrollment__skill_offering__knowledge_partner__name                                          NaN
score_check                                                           Expecting value: line 1 column 1 (char 0)
Name: score_check, dtype: object

In [66]:
df[['id', 'progress_percentage', 'score_check']].head()

,id,progress_percentage,score_check
0,129592.0,53.634001,"[{'score': 62.5, 'serial': 1, 'attempt': 1, 'r..."
2,7360.0,83.555556,"[{'score': 96.6666666666667, 'serial': '1', 'a..."
4,7213.0,73.000000,"[{'score': 80.0, 'serial': '1', 'attempt': 1, ..."
14,62707.0,60.000000,"[{'score': 80.0, 'serial': '1', 'attempt': 1, ..."
16,76981.0,16.000000,"[{'score': '90', 'serial': 1, 'attempt': 1, 'c..."